<div class="container">
  <div class="note-container">C4</div>
  <div class="note-container disabled">C#4</div>
  <div class="note-container">D5</div>
  <div class="note-container disabled">D#5</div>
  <div class="note-container">E5</div>
  <div class="note-container">F5</div>
  <div class="note-container disabled">F#5</div>
  <div class="note-container">G5</div>
  <div class="note-container disabled">G#5</div>
  <div class="note-container">A5</div>
  <div class="note-container disabled">A#5</div>
  <div class="note-container">B5</div>
</div>
