.container {
  display: flex;
}
.note-container {
  width: 75px;
  height: 75px;
  background: #1890ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin: auto 8px;

  &.disabled {
    background: #ddd;
    color: #aaa;
    opacity: 0.5;
  }
}
