.ant-select {
  min-width: 100px;
}
nz-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.content {
  margin: 24px auto;
}

.section {
  margin: 16px auto;
}

.ant-list-bordered.ant-list-lg .ant-list-footer,
.ant-list-bordered.ant-list-lg .ant-list-header {
  font-weight: bold;
}
