<div class="section">
  <div class="scale-tonic">
    <form
      nz-form
      [formGroup]="scaleForm"
      [nzLayout]="'inline'"
      (ngSubmit)="selectScale()"
    >
      <nz-form-item>
        <nz-form-label nzFor="tonic">
          Tonic
        </nz-form-label>
        <nz-form-control nzErrorTip="Select tonic note">
          <nz-select formControlName="tonic" nzPlaceHolder="C">
            <nz-option
              *ngFor="let note of notes"
              [nzValue]="note"
              [nzLabel]="note"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="type">
          Type
        </nz-form-label>
        <nz-form-control nzErrorTip="Select scale type">
          <nz-select
            nzShowSearch
            formControlName="type"
            nzPlaceHolder="pentatonic"
            class="scale-type"
          >
            <nz-option
              *ngFor="let type of scaleTypes"
              [nzValue]="type"
              [nzLabel]="type"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">
            Details
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<div class="scale-content">
  <router-outlet></router-outlet>
</div>
