.scale-size {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
}

.scale-size-card {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 16px;
  background: #1890ff;
  color: #fff;
}

nz-select {
  margin-right: 8px;
  width: 80px;

  &.scale-type {
    width: 230px;
  }
}

[nz-form] {
  max-width: 900px;
}
