.type {
  margin: 8px 0;

  button:first-of-type {
    margin: 8px;
  }
}

.notes {
  button {
    margin: 4px;
  }
}

.card-grid {
  text-align: center;
  font-weight: 600;
  margin-bottom: 24px;
}

.radio-group {
  margin: auto 16px;
}
