<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item>
    <a class="nav-link" routerLink="notes" routerLinkActive="active">
      <i nz-icon nzType="user"></i>
      <span>Notes</span>
    </a>
  </li>
  <li nz-menu-item>
    <a class="nav-link" routerLink="chords" routerLinkActive="active">
      <i nz-icon nzType="user"></i>
      <span>Chords</span>
    </a>
  </li>
  <li nz-menu-item>
    <a class="nav-link" routerLink="scales" routerLinkActive="active">
      <i nz-icon nzType="user"></i>
      <span>Scales</span>
    </a>
  </li>
</ul>
