.layout {
  height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  // background: #fff;
  background: transparent;
  min-height: calc(100% - 24px);
  margin-bottom: 24px;
}
